/*
/*/
!.gitignore
!/df_*/
/df_*/*
/df_*/*/
!/df_*/data/
/df_*/data/*
/df_*/data/*/
!/df_*/data/art/
!/df_*/data/art/*
!/df_*/data/init/
!/df_*/data/init/*
!/df_*/raw/
/df_*/raw/*
/df_*/raw/*/
!/df_*/raw/graphics/
!/df_*/raw/graphics/*