*
!.gitignore
!/df_47_04/
!/df_47_04/data/
!/df_47_04/data/art/
!/df_47_04/data/art/*
!/df_47_04/data/init/
!/df_47_04/data/init/*
!/df_47_04/data/save/
!/df_47_04/data/save/region1/
!/df_47_04/data/save/region1/*
